# Node / JS
node_modules/
npm-debug.log*
yarn.lock
pnpm-lock.yaml

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*

# Build outputs
dist/
.build/
.next/
out/

# VS Code settings (zostawiasz świadomie)
# Jeśli chcesz śledzić workspace w repo – NIE ignorujemy
# .vscode/

# Docker bind mounts
docker/data/

# Docker temp files
docker/*.log

# OS system files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.swp
