# Azure OAuth2 (CoffeeArtBackend)
AZURE_TENANT_ID=a223cbc1-7a06-43fa-a88c-7e5ebb611bbb
AZURE_CLIENT_ID=4514eae2-323b-4123-a5ff-8f2e13a05f55
AZURE_CLIENT_SECRET=

# Business Central
BC_ENVIRONMENT=Production
BC_COMPANY=Coffee.Art

# Base API URL BC (musi kończyć się / )
BC_API_BASE=https://api.businesscentral.dynamics.com/v2.0/

# MongoDB
MONGO_URL=mongodb://coffeeart-mongo:27017/coffeeart
